{% extends 'layout.html' %}




{% block body %}
   <h2>Book Details:</h2>

   <ul>
       <li> <h4>Book isbn:<a href="#">{{ books[0][0] }}</a></h4></li>
       <li><h4>Book title:<a href="#">{{ books[0][1] }}</a></h4></li>
       <li><h4>Book author:<a href="#">{{ books[0][2] }}</a></h4></li>
       <li><h4>Book year:<a href="#">{{ books[0][3] }}</a></h4></li>
       <li><h4>Book average rating:<a href="#">{{ review[0]["average_rating"] }}</a></h4></li>
       <li><h4>Book rating counts:<a href="#">{{ review[0]["ratings_count"] }}</a></h4></li>
   </ul>



{% endblock %}